#main {

}
#content {
	width: 800px;
	height: 480px;
	border: 1px solid #000;
	position: relative;
}
.node {
	width: 20px;
	height: 20px;
	border-radius: 5px;

	position: absolute;
	z-index: 100;
}
.snake-body {
	box-shadow: 3px 3px 3px #999 inset, -3px -3px 3px #999 inset;
}
.snake-head {
	background-color: #333;
}
.food {
	box-shadow: 3px 3px 3px #999 inset, -3px -3px 3px #999 inset;
	background-color: red;
}